body {
	background-image: url("../images/background.jpg");
}

header{
	width:300px;
	height: 70px;
	margin-bottom: 10px;
}

#name{
	color: white;
	text-align: center;
	padding-top: 15px;
	background-color: orange;
	color: white;
	display:inline;
	clear: both;
	padding: 10px;
	margin-bottom: 20px;
	border: solid 1px #ddd;
	
}


#instructions {
	width: 350px;
	height:370px;
	background-color: #EBD0B9;
	margin-bottom: 10px;
	color: green;
}

#parentGameButtons {
	background-color: #03A9F4;
	display: inline-block;
	padding: 15px 20px 10px 15px;
	margin-top: 20px;
	margin-left: 20px;
	border: solid 1px #ddd

}

#start{
	
	
	padding: 15px 20px 10px 15px;
	margin-top: 20px;
	margin-left: 20px;
	
}
#totalNum{
	width:150px;
	height: 90px;
	background-color: #49E692;
	margin-right: 10px;
	font-size: 30px;
	color:#8A358F;

}
#result{
	width:100px;
	height: 100px;
	background-color: #49E6D6;
	margin-left: 160px;
	margin-top:-100px;
}

.click{
	width:80px;
	height:80px;
}
#score{
	width: 180px;
	height:30px;
	background-color: #12B5A2;
	margin-bottom: 10px;
	color: white;
	padding-top: -10px;
}

#scoreDisplay{
	color: white;
	width:180px;
	height:90px;
	background-color: #12B5A2;
	font-size: 30px;
	color: white;
}

